.photo {
    display: inline-block;
    width: 123px;
    height: 123px;
    margin-left: 5px;

    &:first-child {
        margin-left: 0;
    }
}

.img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}