.account-feed__navigation.island {
    padding-bottom: 0;
    margin-bottom: 0;
}

.account-feed__search {
    width: 14px;
    height: 25px;
    background: url('/public/img/icons/search_icon.png') no-repeat;
}