.avatar__pic-edit {
    margin-bottom: 10px;
}

.avatar__nav {
    margin-left: -15px;
    margin-right: -15px;
}

.avatar__item {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    padding: 0 16px;
    height: 36px;
    color: #818c99;
    border-radius: 4px;
}

.avatar__item:hover {
    background-color: #aeb7c21f;
}

.avatar__item-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
}

.profile-link__link {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    padding: 0 6px;
    height: 30px;
    color: #5181b8;
    border-radius: 4px;
    margin-top: -6px;
margin-bottom: -6px;
}

.profile-link__item-icon {
    width: 30px;
}