.header {
    position: fixed;
    top: 0;
    width: 100%;
    height: 48px;
    background-color: #fff;
    border-bottom: 1px solid #e7e8ec;
    z-index: 20;
 }
 
 .header__main {
     display: flex;
     flex-wrap: nowrap;
     height: 100%;
     align-items: center;
 }
 
 .header__logo {
     width: 176px;
     color: #000;
 }
 
 .header__search-bar {
     width: 230px;
     height: 32px;
     margin-right: 15px;
     padding-left: 35px;
     border: none;
     border-radius: 6px;
     background-color: #edeef0;
     background-image: url('/public/img/icons/search.svg');
     background-repeat: no-repeat;
     background-position: left 10px center;
 
 }
 
 
 
 .header__widget {
     display: flex;
     justify-content: center;
     align-items: center;
     width: 48px;
     height: 100%;
     color: #aeb7c2;
 }
 
 .header__widget:hover {
     background-color: #f5f6f8;
 }
 
 .header__additional {
     display: flex;
     flex-wrap: nowrap;
     height: 100%;
     align-items: center;
 }
 
 
 
 .header__user {
     width: 68px;
     padding-left: 10px;
     justify-content: space-around;
     background-repeat: no-repeat;
     background-position: right 5px center;
     color: #aeb7c2;
 }
 
 .header__user-pic {
     width: 32px;
     height: 32px;
     border-radius: 50%;
 }