@import "../../App.scss";

.accountfriends {
  // @extend %island;

  &__friends {
    margin-left: -5px;
    margin-right: -5px;
  }

  &__friend {
    display: inline-block;
    margin-bottom: 5px;
    margin-right: 4px;
  
    &:nth-child(3n) {
      margin-right: 0;
    }
  
    &-pic {
      width: 50px;
      border-radius: 50px;
      margin: 0 7px 4px;
    }
  
    &-name {
      text-align: center;
      font-size: 12.5px;
      max-width: 64px;
    }
  }

}


  
