.edit {
    margin-bottom: 10px;
}

.nav {
    margin-left: -15px;
    margin-right: -15px;
}

.item {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    padding: 0 16px;
    height: 36px;
    color: #818c99;
    border-radius: 4px;

    &:hover {
        background-color: #aeb7c21f;
    }

    &_icon {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 10px;
    }
}

.profilelink {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    padding: 0 6px;
    height: 30px;
    color: #5181b8;
    border-radius: 4px;
    margin-top: -6px;
    margin-bottom: -6px;
}